!URxvt*font: xft:Monaco:size=10:antialias=true
URxvt*font: xft:Monaco:size=10:antialias=true, xft:Inconsolata Nerd Font Mono:size=12, xft:DejaVu Sans:size=12
URxvt*scrollBar: false
!Transparency + shading
URxvt*depth: 32
URxvt*transparent: true
URxvt*shading: 50 
!URxvt*letsp: -2
URxvt*blurRadius: 20
!URxvt*background: rgba:2121/2121/2121/aaaa
!urxvt*background: rgba:1111/1111/1111/8800
!URxvt*background: rgba:0000/0000/0200/c800
!URxvt*background: rgba:3000/2300/5100/ee00

!set fancy cursor
Xcursor.theme: ArchCursorTheme

!clipboard
URxvt*perl-ext-common: default,resize-font
!! Colorscheme

! special
*.foreground: #93a1a1
*.background: [90]#1b1d1e
*.cursorColor: #afbfbf

! black
!*.color0: #263640
!*.color8: #4a697d
*.color0: #282828
*.color8: #504945

! red
!*.color1: #d12f2c
!*.color9: #fa3935
*.color1: #cc241d
*.color9: #fb4934

! green
!*.color2: #819400
!*.color10: #a4bd00
*.color2: #98971a
*.color10: #b8bb26

! yellow
!*.color3: #b08500
!*.color11: #d9a400
*.color3: #d79921
*.color11: #fabd2f

! blue
!*.color4: #2587cc
!*.color12: #2ca2f5
*.color4: #458588
*.color12: #83a598

! magenta
!*.color5: #696ebf
!*.color13: #8086e8
*.color5: #b16286
*.color13: #d3869b

! cyan
*.color6: #289c93
*.color14: #33c5ba
!*.color6: #689d6a
!*.color14: #8ec07c

! white
!*.color7: #bfbaac
!*.color15: #fdf6e3
*.color7: #a89984
*.color15: #ebdbb2
